.card {
  background-color: transparent;
  flex: 1 0 24rem;
  height: 16rem;
  display: block;
  border: none;
  cursor: pointer;
  margin: 1rem 0.5rem;
  @media (max-width: 833px) {
    flex: 1 0 26%;
    max-height: 20vh;
  }

  &.disabled {
    cursor: default;
  }

  &:hover {
  }

  &:focus {
  }

  & .inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
  }

  &.shown .inner {
    transform: rotateY(180deg);
  }

  &.guessed {
    opacity: 0.3;
  }

  .front,
  .back {
    border-radius: 1rem;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .front {
    transform: rotateY(180deg);
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9rem;
    text-transform: capitalize;
    color: #888;
  }

  .back {
    background-color: #276474;
    --line-color: rgba(23, 76, 91, 0.2);
    background-image: repeating-linear-gradient(
        45deg,
        var(--line-color),
        var(--line-color) 5rem,
        transparent 0px,
        transparent 10rem
      ),
      repeating-linear-gradient(-45deg, var(--line-color), var(--line-color) 5rem, transparent 0px, transparent 10rem);
  }
}
